*{
    margin: 0px;
}
.n1{
    background-color: #DE7959;
    padding: 10px ;
}
.n2{
    background-color: #5970DE;
    padding: 10px;
    margin: 20px;
}
.n3{
    background-color: #DEA059;
    padding: 10px;
    margin: 30px;
}
.n4{
    background-color: #59B6DE;
    padding: 10px;
}
.n5{
    background-color: #9E8467;
    padding: 10px;
}
.n6{
    background-color: #896D64;
    padding: 10px;
}
.n7{
    background-color: #646B89;
    padding: 10px;
}
.n8{
    background-color: #647E89;
    padding: 10px;
}
.n9{
    background-color: #5E5A55;
    padding: 10px;
}
